[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "remotePARTS"]
	path = remotePARTS
	url = https://github.com/morrowcj/remoteparts
